In [90]:
import requests

url = "http://0.0.0.0:8000/taskproof/converse"
headers = {
    "Content-Type": "application/json"
}
data = {
    "message_id": "123",
    "consumer_id": "456",
    "prompt": "Hey I want to know who won the pm election in India. Also who won the wwe match between john cena and randy orton"
    #"prompt": "I want to schedule my timings to 6th august 10am to 3pm",
    #"prompt": "I want to talk to ahuman agent"
}

response = requests.post(url, headers=headers, json=data)

print(response.status_code)
print(response.json())

200
{'response': 'Currently I am in Beta. I can help you with user schedule, upload image and assist with talking to human agent', 'success': True, 'error': '', 'type': [{'action': 'skip_response_to_the_user'}], 'functions': [{'thought': 'SUCCESS. No response will be sent to the user.', 'tool_name': 'skip_response_to_the_user', 'raw_input': {'args': [], 'kwargs': {}}, 'raw_output': 'SUCCESS. No response will be sent to the user.'}]}

In [87]:
response.json()['type']

[{'action': 'skip_response_to_the_user'}]

In [88]:
response.json()['functions']

[{'thought': 'SUCCESS. No response will be sent to the user.',
  'tool_name': 'skip_response_to_the_user',
  'raw_input': {'args': [], 'kwargs': {}},
  'raw_output': 'SUCCESS. No response will be sent to the user.'}]

In [29]:
response.json()['error']

'Error code: 400 - {\'error\': {\'message\': "Invalid \'messages[2].name\': string does not match pattern. Expected a string that matches the pattern \'^[a-zA-Z0-9_-]+$\'.", \'type\': \'invalid_request_error\', \'param\': \'messages[2].name\', \'code\': \'invalid_value\'}}'

In [ ]:
https://radio-api-ektt.onrender.com

In [ ]:
"type": [
    {
        "action": "upload_image"
    },
     {
        "action": "upload_image"
    },
]

In [3]:
def kane(dean):
    if dean:
        return len(dean)
    else:
        raise ValueError(f"Invalid timezone string")
kane("")

ValueError: Invalid timezone string

In [25]:
import requests

url = "https://radio-api-ektt.onrender.com/taskproof/converse"
headers = {
    "Content-Type": "application/json"
}
data = {
    "message_id": "123",
    "consumer_id": "456",
    "prompt": "who won the cricket match"
}

response = requests.post(url, headers=headers, json=data)

print(response.status_code)
print(response.json())

200
{'response': 'Currently I am in Beta. I can help you with user schedule, upload image and assist with talking to human agent', 'success': True, 'error': '', 'type': ['skip_response_to_the_user', 'skip_response_to_the_user']}

In [5]:
agent.chat_history

[ChatMessage(role=<MessageRole.USER: 'user'>, content='i want to schedule working hour', additional_kwargs={}),
 ChatMessage(role=<MessageRole.FUNCTION: 'function'>, content='Ask user to select date and time from this pop up', additional_kwargs={'name': 'Ask user to select date and time from this pop up'}),
 ChatMessage(role=<MessageRole.ASSISTANT: 'assistant'>, content='Please select the date and time for your working hours from the pop-up.', additional_kwargs={})]

In [5]:
import mysql.connector
from mysql.connector import Error

# Database credentials
db_url = "database-1.cn8ujxqgl6pv.ap-south-1.rds.amazonaws.com"
db_user = "dev_user"
db_password = "Sm@ro#659"

try:
    # Establish the connection
    connection = mysql.connector.connect(
        host=db_url,
        user=db_user,
        password=db_password
    )
    
    if connection.is_connected():
        print("Successfully connected to the database")
        
        # Create a cursor object
        cursor = connection.cursor()
        
        # Execute the SQL query to list all databases
        cursor.execute("SHOW DATABASES")
        
        # Fetch and print all databases
        databases = cursor.fetchall()
        print("Databases:")
        for database in databases:
            print(database[0])

except Error as e:
    print(f"Error: {e}")

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("Database connection closed")

Successfully connected to the database
Databases:
information_schema
myrandon_1
mysql
orthanc_db
performance_schema
smaro_staging
sys
test_db
Database connection closed

In [12]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

# Database credentials
db_url = "database-1.cn8ujxqgl6pv.ap-south-1.rds.amazonaws.com"
db_user = "dev_user"
db_password = "Sm@ro#659"
db_name = "myrandon_1"

try:
    # Establish the connection
    connection = mysql.connector.connect(
        host=db_url,
        user=db_user,
        password=db_password,
        database=db_name
    )
    
    if connection.is_connected():
        print(f"Successfully connected to the database '{db_name}'")
        
        # Create a cursor object
        cursor = connection.cursor()
        
        # Execute the SQL query to select all records
        cursor.execute("Show tables")
        records = cursor.fetchall()
        
        # Get column names from the cursor description
        column_names = [i[0] for i in cursor.description]
        
        # Create a DataFrame from the records and column names
        df = pd.DataFrame(records, columns=column_names)
        
        # Display the DataFrame
        print("Data from 'chat_conversations' table:")
        print(df)

except Error as e:
    print(f"Error: {e}")

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("Database connection closed")

Successfully connected to the database 'myrandon_1'
Data from 'chat_conversations' table:
       Tables_in_myrandon_1
0             active_status
1                      chat
2             chat_category
3        chat_conversations
4     client_branch_profile
5           client_branches
6             client_logins
7     client_points_credits
8      client_points_deduct
9                   clients
10               contact_us
11                   doctor
12           doctor_profile
13                hospitals
14          medical_college
15          medical_council
16           medical_degree
17             module_pages
18            notifications
19          notify_template
20         otp_verification
21           patient_report
22  patient_report_analysis
23           patient_visits
24                 patients
25        payment_structure
26              radiologist
27      radiologist_profile
28       radiologist_shifts
29          report_template
30                    roles
31            schedule_demo
32               speciality
33                    state
34              test_points
35            test_sub_type
36                test_type
37            type_of_users
38                user_type
39                    users
Database connection closed

In [13]:
df

       Tables_in_myrandon_1
0             active_status
1                      chat
2             chat_category
3        chat_conversations
4     client_branch_profile
5           client_branches
6             client_logins
7     client_points_credits
8      client_points_deduct
9                   clients
10               contact_us
11                   doctor
12           doctor_profile
13                hospitals
14          medical_college
15          medical_council
16           medical_degree
17             module_pages
18            notifications
19          notify_template
20         otp_verification
21           patient_report
22  patient_report_analysis
23           patient_visits
24                 patients
25        payment_structure
26              radiologist
27      radiologist_profile
28       radiologist_shifts
29          report_template
30                    roles
31            schedule_demo
32               speciality
33                    state
34              test_points
35            test_sub_type
36                test_type
37            type_of_users
38                user_type
39                    users

In [16]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

# Database credentials
db_url = "database-1.cn8ujxqgl6pv.ap-south-1.rds.amazonaws.com"
db_user = "dev_user"
db_password = "Sm@ro#659"
db_name = "myrandon_1"

try:
    # Establish the connection
    connection = mysql.connector.connect(
        host=db_url,
        user=db_user,
        password=db_password,
        database=db_name
    )
    
    if connection.is_connected():
        print(f"Successfully connected to the database '{db_name}'")
        
        # Create a cursor object
        cursor = connection.cursor()
        
        # Execute the SQL query to select all records
        cursor.execute("SELECT * FROM chat_conversations")
        records = cursor.fetchall()
        
        # Get column names from the cursor description
        column_names = [i[0] for i in cursor.description]
        
        # Create a DataFrame from the records and column names
        df = pd.DataFrame(records, columns=column_names)
        
        # Display the DataFrame
        print("Data from 'chat_conversations' table:")
        print(df)

except Error as e:
    print(f"Error: {e}")

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("Database connection closed")

Successfully connected to the database 'myrandon_1'
Data from 'chat_conversations' table:
   id chat_conversation  chat_category_id  reference_id conversation_status  \
0   1          CON_V_01               NaN           NaN                None
1   2          CON_V_02               NaN           NaN                None
2   3          CON_V_03               NaN           NaN                None
3   4      SMARO-CHAT-4               1.0         147.0

  rating comments inserted_time updated_time  estatus  sender_type_id  \
0   None     None          None         None        1             NaN
1   None     None          None         None        1             NaN
2   None     None          None         None        1             NaN
3   None     None          None         None        0             3.0

   sender_id receiver_type_id receiver_id
0        NaN             None        None
1        NaN             None        None
2        NaN             None        None
3        3.0             None        None
Database connection closed

In [17]:
df

,id,chat_conversation,chat_category_id,reference_id,conversation_status,rating,comments,inserted_time,updated_time,estatus,sender_type_id,sender_id,receiver_type_id,receiver_id
0,1,CON_V_01,NaN,NaN,None,None,None,None,None,1,NaN,NaN,None,None
1,2,CON_V_02,NaN,NaN,None,None,None,None,None,1,NaN,NaN,None,None
2,3,CON_V_03,NaN,NaN,None,None,None,None,None,1,NaN,NaN,None,None
3,4,SMARO-CHAT-4,1.0,147.0,,None,None,None,None,0,3.0,3.0,None,None

In [15]:
df

,id,chat_conversation_id,type_of_user_id,user_id,type,meta_data,message,media_type,media_url,parent_chat_id,estatus,inserted_time
0,1,1,1.0,5.0,None,None,None,None,None,None,1,NaT
1,2,1,1.0,1.0,None,None,None,None,None,None,1,NaT
2,3,1,1.0,2.0,None,None,None,None,None,None,1,NaT
3,4,1,1.0,6.0,None,None,None,None,None,None,1,NaT
4,5,1,1.0,2.0,None,None,None,None,None,None,1,NaT
5,6,1,1.0,1.0,None,None,None,None,None,None,1,NaT
6,7,1,1.0,2.0,None,None,None,None,None,None,1,NaT
7,8,1,1.0,1.0,None,None,None,None,None,None,1,2024-05-28 17:13:04
8,9,1,1.0,1.0,None,None,"""this is test""",None,None,None,1,2024-05-28 17:24:17
9,10,1,NaN,NaN,None,None,None,None,None,None,None,2024-06-13 10:51:03
10,11,2,NaN,NaN,None,None,None,None,None,None,None,2024-06-14 07:20:07
11,12,1,3.0,3.0,None,None,"""this is test message""",,,None,1,2024-07-02 14:40:48

In [ ]:
select * from chat_conversations limit 10

In [84]:
def get_last_n_elements(my_list, n):
    return my_list[-n:]

# Example usage
my_list = [1, 2, 3, 4, 5,6,9, 6]
n = 7

# Get the last n elements as a new list
last_elements = get_last_n_elements(my_list, n)
print(last_elements)

[2, 3, 4, 5, 6, 9, 6]